.li {
    padding: 20px 50px 20px 20px ;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.pricesAndLogo {
display: flex;
justify-content: space-between;
color: #2196F3;
}
.content {
    display: flex;
    justify-content: space-between;
}
.minorHeader {
    color: #A0B0B9;
    font-size: 12px;
}